@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
  outline: none;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.2;
  scroll-behavior: smooth;
}

.maxwidth {
  max-width: 1220px;
}

.header {
  position: fixed;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0 0;
  z-index: 2;
  /* Change the white to any color */
}

.header .header__container {
  background-color: #325b8f;
  margin: 0 auto;
  padding: 0.5em 0em;
}

.header .wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header #search {
  padding: 0em;
}

.header #header__nav {
  width: 100%;
}

.header .header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
  margin-left: 2em;
}

.header .last--item {
  margin-left: auto;
}

.header a.link:not(.last) {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  padding: 0.5em 1em;
}

.header a.link:not(.last):hover {
  background-color: aliceblue;
  border-radius: 20px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.header .burger span, .header .burger .button--unit .button__slide, .header .button--unit .burger .button__slide {
  display: block;
  position: relative;
  width: 25px;
  height: 2px;
  margin: 4px;
  background-color: #7a7a7a;
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5);
  transition: -webkit-transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5);
  transition: transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5);
  transition: transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5), -webkit-transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5);
}

.header .burger:hover > :first-child {
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}

.header .burger:hover > :last-child {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search__input {
  width: 300px;
  margin-left: 0em;
  border-radius: 16px;
  background-color: #429ec2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0em 1.5em 0em 1em;
  line-height: 0.8em;
}

.header input:-webkit-autofill,
.header input:-webkit-autofill:hover,
.header input:-webkit-autofill:focus,
.header input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #429ec2 inset !important;
  -webkit-text-fill-color: white;
  border: none;
}

.header .input {
  border: none;
  padding: 0.7em 0em 0.5em;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: inherit;
  background-color: inherit;
  width: 100%;
  color: white;
}

.header .input::-webkit-input-placeholder {
  color: white;
}

.header .input:-ms-input-placeholder {
  color: white;
}

.header .input::-ms-input-placeholder {
  color: white;
}

.header .input::placeholder {
  color: white;
}

.header .button-top {
  float: right;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  color: #2b2b2b;
  margin-top: -6px;
}

.header .button-top:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.header .btn {
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: inherit;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.header .btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .btn:active {
  color: red;
}

.header .button--unit {
  border: none;
  background-color: rgba(66, 158, 194, 0.6);
  padding: 0em 0em;
  border-radius: 6px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.header .button--unit span, .header .button--unit .button__slide {
  padding: 0.7em 0.8em;
  border-radius: 6px;
  font-weight: 600;
  background-color: transparent;
  color: #bebebe;
  z-index: 1;
}

.header .button--unit span.active, .header .button--unit .active.button__slide {
  color: white;
  font-weight: 700;
}

.header .button--unit .button__slide {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 0;
  background-color: #429ec2;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header .button--unit .button__slide.left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.main-section {
  padding-top: 200px;
  width: 100%;
  background-color: #204c8c;
}

.main-section > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.1em;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 0 auto;
  color: white;
}

.inner .daily {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5em;
  max-width: 1220px;
  white-space: nowrap;
  overflow-x: hidden;
  margin: 1em 0;
}

.inner .w-day {
  width: 147.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 37px 16px 28px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.inner .w-day .w-temp-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.inner .w-day .w-day-name {
  font-size: 0.9rem;
  font-weight: 400;
  width: 100%;
}

.inner .w-day .icon {
  width: 60px;
}

.inner .w-day .w-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner .w-day .w-temp > * {
  padding: 4px 0 4px 0px;
  font-weight: 400;
  font-size: 1.1rem;
}

.inner .w-day .temp-max {
  font-weight: 500;
}

.inner .w-day:hover {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.inner .current {
  background-color: #154182;
  width: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.1em 1em;
  border-radius: 10px;
}

.inner .current .time {
  margin: 0;
  margin-top: 2px;
  font-weight: 400;
  font-size: 12px;
  color: white;
  opacity: 0.8;
}

.inner .current .icon {
  width: 100px;
  margin: 0em 0;
  padding: 0;
}

.inner .current .temp__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner .current .temp__wrapper #currentDescription {
  margin-left: 2em;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: 500;
}

.inner .current .icon__wrapper {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner .current .icon__wrapper #currentTempWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
}

.inner .current .icon__wrapper #currentTemp {
  font-size: 4.2rem;
}

.inner .current .icon__wrapper #degree {
  display: inline-block;
  margin-top: 0.5em;
  font-size: 1.8em;
}

h1.row-title {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1em;
}

#currentCity {
  text-transform: capitalize;
  font-size: 1rem;
}

.description {
  margin: 1em 0 2em;
}

footer {
  width: 100%;
  background-color: white;
  font-size: 0.9em;
  color: #7a7a7a;
}

footer .container {
  width: 100%;
  margin: auto;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social a {
  display: inline-block;
  color: #7a7a7a;
  margin: 0 0.5em;
  text-align: center;
  padding: 4px;
  font-size: 1.3em;
}

footer .social .fa {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  font-size: 1.1em;
  font-weight: 800;
  width: 25px;
  height: 25px;
  display: inline-block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .social .fa:hover {
  color: black;
}

.params {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.params .params-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.params .params-item-term {
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: -0.5px;
}

.slide {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: -12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: 1px solid transparent;
  padding: 4px 8px;
  border-radius: 50%;
}

.topnav {
  width: 100%;
  padding: 15px 0 20px;
  background-color: white;
}

.topnav h1 {
  margin-bottom: 20px;
}

.topnav .container {
  margin: 0 auto;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: #429ec2;
  text-transform: capitalize;
  letter-spacing: 0px;
}

a {
  text-decoration: none;
}

.top-link {
  padding: 2px;
  text-transform: capitalize;
  font-size: 14px;
  color: #2b2b2b;
}

.top-link:hover {
  border-bottom: 2px solid #ddd;
}

.top-link:not(:first-of-type) {
  margin-left: 1.6em;
}
/*# sourceMappingURL=main.css.map */