@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
  outline: none;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.2;
}

body a {
  text-decoration: none;
}

body > .container {
  margin: auto;
}

.top-header {
  background-color: white;
}

.top-header .container {
  width: 100%;
  margin: 0.5em auto;
  border-bottom: 1px solid #bebebe;
  padding: 0 1.5em;
}

.top-header ul.top-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
}

.top-header .item {
  margin: 0px;
}

.top-header .item-first {
  margin-right: auto;
}

.top-header .item-last {
  margin-left: auto;
  text-align: left;
}

.top-header .logo {
  color: #2d63b9;
  font-size: 1.4rem;
  font-weight: 800;
}

.top-header a.link:not(.last) {
  display: block;
  font-size: 1rem;
  color: black;
  padding: 0.5em 2em;
}

.top-header a.link:not(.last):hover {
  background-color: aliceblue;
  border-radius: 20px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.top-header .burger span {
  display: block;
  position: relative;
  width: 25px;
  height: 2px;
  margin: 4px;
  background-color: #7a7a7a;
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5);
  transition: -webkit-transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5);
  transition: transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5);
  transition: transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5), -webkit-transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5);
}

.top-header .burger:hover > :first-child {
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}

.top-header .burger:hover > :last-child {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
}

.main-section {
  padding: 1.5em;
}

.main-section > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.1em;
}

.main-section > .container > .input-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 672px;
  height: 364px;
  background-color: antiquewhite;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 15px;
          box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 15px;
}

.inner > .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.inner > .row .w-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  margin: 0px 7px 0px 0px;
  padding: 5px;
}

.inner > .row .w-day .w-day-name {
  font-size: 16px;
  width: 100%;
}

.inner > .row .w-day .w-icon {
  width: 100%;
}

.inner > .row .w-day .icon {
  width: 50px;
}

.inner > .row .w-day .w-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2px;
  width: 100%;
}

.inner > .row .w-day:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.input {
  border: none;
  padding: 1em;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  width: 600px;
  border-radius: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  margin-right: 0.5em;
}

.input:focus {
  background-color: white;
}

.input:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 15px;
          box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 15px;
}

.btn {
  border: 2px solid #2d63b9;
  padding: 0.6em 1.5em;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  background-color: #2d63b9;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
          box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
  border-radius: 20px;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #4f80cf;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
}

footer .container {
  background-color: #f2f2f2;
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer .social li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid #2d63b9;
  background-color: #2d63b9;
  padding: 0.2em;
  border-radius: 50%;
  text-align: center;
  width: 34px;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
}

footer .social li:hover {
  background-color: #4f80cf;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
}

footer .social li:not(:last-child) {
  margin-right: 0.5em;
}

footer .social a {
  font-size: 1.2em;
  color: white;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .copyright a {
  color: black;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

footer .copyright a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */