@import "global";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

:root {
	box-sizing: border-box;
}

*,
::after,
::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	list-style: none;
	outline: none;
}

body {
	font-family: "Rubik", sans-serif;
	line-height: 1.2;
	a {
		text-decoration: none;
	}
	background-color: $back;
}

body > .container {
	//max-width: 1048px;
	margin: auto;
	background-color: $back;
}

// ==================================================
// Header menu styles
// ===================================================
.header {
	background-color: $header;
	margin: 0;

	.header__container {
		max-width: 1080px;
		margin: 0 auto;
		padding: 0.5em 0em;
		display: flex;
		align-items: center;
	}
	#search {
		padding: 0em;

		//background-color: red;
	}
	#header__nav {
		width: 100%;
	}
	.header__nav__list {
		display: flex;
		//width: 100%;
		align-items: center;
		align-content: center;
		padding: 0;
		margin-left: 2em;
		//background-color: cadetblue;
	}

	.last--item {
		margin-left: auto;
	}

	.logo {
		color: white;
		font-size: 1rem;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	a.link:not(.last) {
		display: block;
		font-size: 0.9rem;
		font-weight: 500;
		color: white;
		padding: 0.5em 1em;
		//background-color: brown;

		&:hover {
			background-color: aliceblue;
			border-radius: 20px;
			transition: background-color 0.4s ease;
		}
	}

	.burger {
		span {
			display: block;
			position: relative;
			width: 25px;
			height: 2px;
			margin: 4px;
			background-color: #7a7a7a;
			z-index: 1000;
			//transition: all 0.5s ease-out;
			transition: transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5);
		}
		&:hover > :first-child {
			transform: translate(0, -3px);
			//transition: transform .45s cubic-bezier(.43,.77,.15,1.5);
		}
		&:hover > :last-child {
			transform: translate(0, 3px);
			//transition: transform .45s cubic-bezier(.43,.77,.15,1.5);
		}
	}
	.header__nav {
		display: flex;
	}

	.search__input {
		//width: 100%;
		margin-left: 1em;
		border-radius: 25px;
		background-color: $accent;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.1em 0.9em;
		line-height: 0.8em;
	}

	.input {
		border: none;
		padding: 0.7em 0em 0.5em;
		font-size: 0.9rem;
		font-weight: 500;
		font-family: inherit;
		background-color: inherit;
		width: 250px;

		//margin-right: 0.5em;

		&:focus {
		}

		&:hover {
		}

		&::placeholder {
			color: white;
		}
	}

	.btn {
		font-family: inherit;
		font-size: 0.9rem;
		font-weight: 500;
		background-color: inherit;
		border: none;
		color: white;
		cursor: pointer;

		&:hover {
			//background-color: rgb(79, 128, 207);
		}
	}
	.button--unit {
		border: none;
		background-color: rgba(66, 158, 194, 0.6);
		padding: 0.75em 0em;
		border-radius: 6px;
		position: relative;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		span {
			padding: 0 0.8em;
			border-radius: 6px;
			font-weight: 600;
			background-color: transparent;
			color: rgb(190, 190, 190);
			z-index: 1;
		}

		span.active {
			color: white;
			font-weight: 700;
		}

		.button__slide {
			@extend span;
			position: absolute;
			right: 0;
			top: 0;
			width: 50%;
			height: 100%;
			z-index: 0;
			background-color: rgba(66, 158, 194, 1);
		}
	}
}

//=================================================
// Weather presentation section styles
// ================================================
.main-section {
	padding: 1.5em;
	//background-color: aquamarine;

	> .container {
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 1.1em;
	}
}

.inner {
	display: flex;
	flex-flow: column;
	max-width: 1080px;
	margin: 0 auto;
	//height: 364px;
	//background-color: antiquewhite;
	//box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 15px;

	> .row {
		//background-color: aquamarine;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 150px;
		//border: 1px solid gray;

		.w-day {
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			align-items: center;
			border-radius: 10px;
			cursor: pointer;
			//height: 92px;
			font-size: 14px;
			color: white;
			text-align: center;
			background-color: $item;

			padding: 1em 1em;

			.w-day-name {
				font-size: 0.9rem;
				font-weight: 600;
				width: 100%;
			}

			.w-icon {
				width: 100%;
			}

			.icon {
				width: 50px;
			}

			.w-temp {
				display: flex;
				justify-content: space-between;
				padding: 0.5em 1em;
				width: 100%;
			}
			.w-temp > * {
				padding: 0em 0.5em;
				font-weight: 600;
				font-size: 1rem;
			}

			&:hover {
				background-color: rgba(66, 158, 194, 0.2);
			}
		}
	}
}

footer {
	display: none;
	.container {
		background-color: #f2f2f2;
		width: 100%;
		padding: 1em;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	.social {
		margin-top: 0.5em;
		margin-bottom: 0.5em;

		ul {
			display: flex;
			width: 100%;
		}
		li {
			flex: 1;
			border: 2px solid rgb(45, 99, 185);
			background-color: rgb(45, 99, 185);
			padding: 0.2em;
			border-radius: 50%;
			text-align: center;
			width: 34px;
			transition: background-color 150ms ease;

			&:hover {
				background-color: rgb(79, 128, 207);
				transition: background-color 150ms ease;
			}
		}
		li:not(:last-child) {
			margin-right: 0.5em;
		}
		a {
			font-size: 1.2em;
			color: white;
		}
	}

	.copyright {
		display: flex;
		align-items: center;
		flex-direction: column;

		a {
			color: black;
			font-size: 1em;
			font-weight: 400;
			margin-bottom: 0.5em;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
